<meta charset="utf-8">

<title>my-thi.ml | {{ title|default('Fancy stuff related to THI') }}</title>

<meta name="description" content="Helpful links, subdomains, redirects and tools for students of the Technische Hochschule Ingolstadt (THI)">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/balloon.min.css">
<link rel="stylesheet" href="/css/custom.css">

<link rel="search" href="opensearchdescription.xml" type="application/opensearchdescription+xml" title="my-thi.ml"/>

<link rel="icon" type="image/png" href="favicon.png"/>
